@import url("https://fonts.googleapis.com/css?family=Muli");
body {
  font-family: "Muli", sans-serif; }

nav {
  margin: 25px 150px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end; }

.jt-logo {
  max-height: 60px;
  max-width: 60px;
  justify-content: flex-start; }

ul {
  margin-top: 0; }
  ul li {
    display: inline;
    color: #adadad;
    padding: 26px; }
    ul li a {
      text-decoration: none;
      color: #adadad; }
      ul li a:hover {
        color: #29d3d3;
        cursor: pointer; }

.active-link {
  color: #29d3d3; }

.intro {
  background-color: #29d3d3;
  padding: 50px;
  text-align: center;
  color: #fff; }
  .intro .about-me {
    margin: 0 150px; }

.icons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
  margin: 0 150px; }
  .icons figure {
    flex: 1;
    flex-grow: 2;
    cursor: pointer;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 3px 5px 5px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 3px 5px 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 3px 5px 5px; }
    .icons figure:hover {
      background: #29d3d3; }
    .icons figure img {
      opacity: .75;
      margin: 0 auto;
      width: 100%;
      max-width: 580px;
      min-width: 340px;
      height: 200px; }
    .icons figure #raspi-img {
      width: 100%;
      margin: auto;
      max-width: 300px;
      min-width: 270px; }

.pokestay {
  display: none;
  margin: 0 150px;
  text-align: center;
  color: #adadad; }
  .pokestay .pokestay-img {
    max-width: 800px; }

.digidex {
  display: none;
  margin: 0 150px;
  text-align: center;
  color: #adadad; }

.raspi {
  display: none;
  margin: 0 150px;
  text-align: center;
  color: #adadad; }

.power-rank {
  display: none;
  margin: 0 150px;
  text-align: center;
  color: #adadad; }

.contact {
  border-top: 2px solid #adadad;
  margin: 0 150px;
  padding: 25px; }
  .contact .contact-container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap; }
    .contact .contact-container .contact-icons {
      padding: 0 40px;
      color: #adadad; }
      .contact .contact-container .contact-icons:hover {
        color: #29d3d3;
        cursor: pointer; }
