@import url("https://fonts.googleapis.com/css?family=Muli");
body {
  font-family: "Muli", sans-serif; }

nav {
  margin: 25px 150px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end; }

.jt-logo {
  max-height: 60px;
  max-width: 60px;
  justify-content: flex-start; }

ul {
  margin-top: 0; }
  ul li {
    display: inline;
    color: #adadad;
    padding: 26px; }
    ul li a {
      text-decoration: none;
      color: #adadad; }
      ul li a:hover {
        color: #29d3d3;
        cursor: pointer; }

.active-link {
  color: #29d3d3; }

.intro {
  background-color: #29d3d3;
  padding: 50px;
  text-align: center;
  color: #fff; }

.icons {
  margin: 0 150px; }
  .icons img {
    width: 900px;
    height: 700px; }

.contact {
  border-top: 2px solid #adadad;
  margin: 0 150px;
  padding: 25px 0; }
  .contact .contact-container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap; }
    .contact .contact-container .contact-icons {
      padding: 0 40px;
      color: #adadad; }
      .contact .contact-container .contact-icons:hover {
        color: #29d3d3;
        cursor: pointer; }
