@import url('https://fonts.googleapis.com/css?family=Muli');

$primaryColor: #29d3d3;
$secondaryColor: #adadad;

body {
  font-family: "Muli", sans-serif;
}

nav {
  margin: 25px 150px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.jt-logo {
  max-height: 60px;
  max-width: 60px;
  justify-content: flex-start;
}

ul{
  margin-top: 0;
  li{
    display: inline;
    color: $secondaryColor;
    padding: 26px;
    a {
      text-decoration: none;
      color: $secondaryColor;
      &:hover{
        color: $primaryColor;
        cursor: pointer;
      }
    }
  }
}

.active-link {
  color: $primaryColor;
}

.intro {
  // display: none;
  background-color: $primaryColor;
  padding: 50px;
  text-align: center;
  color: #fff;
  .about-me{
    margin: 0 150px;
  }
}

.icons{
  // display: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
  margin: 0 150px;
  figure{
    flex: 1;
    flex-grow: 2;
    // position: relative;
    // margin-right: 20px;
    cursor: pointer;
    -webkit-box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
    -moz-box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
    box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
    &:hover {
      background: $primaryColor;
    }
    img{
      opacity: .75;
      margin: 0 auto;
      width: 100%;
      max-width: 580px;
      min-width: 340px;
      height: 220px;
    }
    #raspi-img{
      width: 100%;
      margin: auto;
      max-width: 300px;
      min-width: 270px;
    }
  }
}

// different pages
.pokestay {
  display: none;
  margin: 0 150px;
  text-align: center;
  color: $secondaryColor;
  .pokestay-img{
    max-width: 800px;
  }
}

.digidex {
  display: none;
  margin: 0 150px;
  text-align: center;
  color: $secondaryColor;
  .digidex-img{
    max-width: 800px;
  }
}

.raspi {
  display: none;
  margin: 0 150px;
  text-align: center;
  color: $secondaryColor;
}

.power-rank {
  display: none;
  margin: 0 150px;
  text-align: center;
  color: $secondaryColor;
  .power-img{
    max-width: 800px;
  }
}

.presentation{
  text-decoration: none;
  color: $primaryColor;
  &:hover {
    text-decoration: underline;
  }
}

.skills-used {
  color: $primaryColor;
}

.live-link {
  cursor: pointer;
  font-size: 2rem;
  margin: 40px;
  a {
    color: $primaryColor;
    text-decoration: none;
    padding: 0 20px;
    &:hover {
      text-decoration: underline;
    }
  }
}


// footer
.contact{
  border-top: 2px solid $secondaryColor;
  margin: 0 150px;
  padding: 25px;
  .contact-container{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    .contact-icons{
      padding: 0 40px;
      color: $secondaryColor;
      &:hover{
        color: $primaryColor;
        cursor: pointer;
      }
    }
  }
}
