$primaryColor: #29d3d3;
$secondaryColor: #adadad;

nav {
  margin: 25px 150px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.jt-logo {
  max-height: 60px;
  max-width: 60px;
  justify-content: flex-start;
}

ul{
  margin-top: 0;
  li{
    display: inline;
    color: $secondaryColor;
    padding: 26px;
    &:hover{
      color: $primaryColor;
      cursor: pointer;
    }
  }
}

.active-link {
  color: $primaryColor;
}

.intro {
  background-color: $primaryColor;
  padding: 50px;
  text-align: center;
  color: #fff;
}

.icons{
  margin: 0 150px;
  img{
    width: 900px;
    height: 700px;
  }
}
